//- Connecting mixins for this template
//- include ../mixins/button

//- Variables from pages
block variables

doctype html
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="robots" content="index, follow")

        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")

        meta(name="description" content=description)
        meta(name="keywords" content=keywords)
        title #{title}
        
        //[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]
    
    body(class=pageClass)
        header.header#header
            include header
        main.main
            block content
        footer.footer
            include footer